A RegEx, or Regular Expression, is a sequence of characters that forms a search pattern.

RegEx can be used to check if a string contains the specified search pattern.

RegEx Module
Python has a built-in package called re, which can be used to work with Regular Expressions.

Import the re module:

In [ ]:
import re

RegEx Functions
The re module offers a set of functions that allows us to search a string for a match:

Function  	Description

*   List item
*   List item


findall	 :- Returns a list containing all matches

search  :	Returns a Match object if there is a match anywhere in the string

split  :	Returns a list where the string has been split at each

 match object  :Replaces one or many matches with a string

Character	Description	Example	Try it

[]	:- A set of characters :-	"[a-m]"

\	 :-Signals a special sequence (can also be used to escape special characters) :-	"\d"

.	 :- Any character (except newline character)	:-"he..o"

^	 :- Starts with	:- "^hello"

$	 :- Ends with	 :-"planet$"

*	 :-Zero or more occurrences	 :- "he.*o"

+	One or more occurrences	"he.+o"
?	Zero or one occurrences	"he.?o"
{}	Exactly the specified number of occurrences	"he.{2}o"
|	Either or	"falls|stays"
()	Capture and group

**3. Predefined Character Classes**

Symbol   -	Meaning  - 	Example

\d    -    	Digit (0–9)	 \d\d → two digits

\D	Not a digit	\D+ → letters, symbols

\w	Word character (a–z, A–Z, 0–9, _)

\W	Not a word character

\s	Whitespace (space, tab, newline)

\S	Not whitespace

^	 :- Start of string,	 eg:^Hello matches "Hello..." only at start

\b	 :- Word boundary ,eg:	\bcat\b matches "cat" only as whole word

\B :-	Not a word boundary

\d :-	Any digit 0–9	,eg: \d+ → "123"

\D :-	Any non-digit ,eg:	\D+ → "abc@"

w :-	Word character (A–Z, a–z, 0–9, _)	 ,eg:\w+ → "hello_123"

\W	:-Non-word character.,eg:	\W+ → "@#$ "

\s	:- Any whitespace (space, tab, newline, formfeed),eg:	\s+

\S	:-Any non-whitespace	,eg:\S+

\t	-Tab

\n-	New line

\r	-Carriage return

\v-	Vertical tab

\f	Form feed

\n-	Newline

\.-	Matches literal dot

In [ ]:
import re

txt='the rain in spain'
x=re.search('^the.*spain$',txt)
if x:
  print('yes,we have a match')
else:
  print('no match')

yes,we have a match

**The findall() Function**

The findall() function returns a list containing all matches.

In [ ]:
import re

txt='the rain in spain'
x=re.findall('ai',txt)
print(x)

['ai', 'ai']

The list contains the matches in the order they are found.

If no matches are found, an empty list is returned:

In [ ]:
import re

txt='the rain in spain'
x=re.findall('portugal',txt)
print(x)
if x:
  print('yes there is atleast one match')
else:
  print('no match')

[]
no match

**The search() Function**

The search() function searches the string for a match, and returns a Match object if there is a match.

If there is more than one match, only the first occurrence of the match will be returned:

In [ ]:
import re

txt='the rain in spain'
x=re.search("\s",txt)
print('the first white-space character is located in position:',x.start())

the first white-space character is located in position: 3

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-3091110074.py:4: SyntaxWarning: invalid escape sequence '\s'
  x=re.search("\s",txt)

In [ ]:
import re

txt='the rain in spain'
x=re.search('portugal',txt)
print(x)

None

**The split() Function**

The split() function returns a list where the string has been split at each match:

In [ ]:
import re
txt='the rain in spain'
x=re.split('\s',txt)
print(x)

['the', 'rain', 'in', 'spain']

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-3598663437.py:3: SyntaxWarning: invalid escape sequence '\s'
  x=re.split('\s',txt)

In [ ]:
import re
txt='the rain in spain'
x=re.split('\s',txt, 1)
print(x)

['the', 'rain in spain']

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-2931862310.py:3: SyntaxWarning: invalid escape sequence '\s'
  x=re.split('\s',txt, 1)

**The sub() Function**

The sub() function replaces the matches with the text of your choice:

In [ ]:
import re

txt='the rain in spain'
x=re.sub('\s','9',txt)
print(x)

the9rain9in9spain

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-1659751737.py:4: SyntaxWarning: invalid escape sequence '\s'
  x=re.sub('\s','9',txt)

In [ ]:
import re

txt='the rain in spain'
x=re.sub('\s','9',txt,2)
print(x)

the9rain9in spain

<>:4: SyntaxWarning: invalid escape sequence '\s'
<>:4: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-52336852.py:4: SyntaxWarning: invalid escape sequence '\s'
  x=re.sub('\s','9',txt,2)

**Match Object**

A Match Object is an object containing information about the search and the result.

note:If there is no match, the value None will be returned, instead of the Match Object.

The Match object has properties and methods used to retrieve information about the search, and the
result:

.span() :- returns a tuple containing the start-, and end positions of the match.

.string :- returns the string passed into the function

.group():- returns the part of the string where there was a match

In [ ]:
import re
txt='the rain in spain'
x=re.search('ai',txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

In [ ]:
import re
txt='the rain in spain'
x=re.search(r'\bs\w+',txt)
print(x.span())

(12, 17)

In [ ]:
import re
txt='the rain in spain'
x=re.search(r'\bs\w+',txt)
print(x.group())

spain

In [ ]:
import re
txt='the rain in spain'
x=re.search(r'\bs\w+',txt)
print(x.string)

the rain in spain